* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

header {
	position:fixed;
	min-width:100%;
	z-index:1;
}

.body-1 {
	background-image:url("landingpage.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center;
	height:630px;
	background-color:#999999;
	background-blend-mode:overlay;
	
}

.body-2 {
	background-image: linear-gradient(#333333 0%,white 140%),url("newyorkpage.png");
	
	position: absolute;
	background-size: 100%;
	background-position: center;
	height: 640px;
	width:100%;
	background-blend-mode: overlay;
	background-repeat: no-repeat;
}

.body-3 {
	background-color: #015668;
	height:180px;
}

.intro-1 {
	color: white;
	font-size: 40px;
	padding-top: 50px;
	text-align: center;
	font-family:"NoirRegular";
}

.intro-2 {
	font-family:"NoirRegular";
	color: white;
	font-size:25px;
	text-align: center;
}

.benefits-box-1 {
	width: 300px;
    text-align: justify;
    background: rgba(52,15,185,0.1);
    box-shadow:3px 9px 20px black;
    padding: 20px;
    margin: 1% auto 0;
    margin-top: 60px;       
    font-size: 16px;
    color: black;
    left: 5%;
	height:350px;
    position: absolute;
}


.benefits-box-2 {
	width: 300px;
    text-align: justify;
    background: rgba(52,15,185,0.1);
    box-shadow:3px 9px 20px black;
    padding: 20px;
    margin: 1% auto 0;
    margin-top: 60px;       
    font-size: 16px;
    color: black;
    left: 38%;
	height:350px;
    position: absolute;
}

.benefits-box-3 {
	width: 300px;
    text-align: justify;
    background: rgba(52,15,185,0.1);
    box-shadow:3px 9px 20px black;
    padding: 20px;
    margin: 1% auto 0;
    margin-top: 60px;       
    font-size: 16px;
    color: black;
    left: 72%;
	height:350px;
    position: absolute;
}

.title {
	font-family: "NoirRegular";
	font-size:20px;
	text-align:center;
	margin-bottom:5px;
}
.lorem-ipsum {
	font-family:"NoirRegular";
	
}

.benefits-logo-container {
	background-color: #015668;
    width: 300px;
    margin-top: -20px;
    margin-left: -20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.benefits-logo {
	height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.cloud {
	background-image: url("img/cloud.png");
	position:absolute;
	background-size:100%;
	height:640px;
	width:80%;
	background-repeat: no-repeat;
	float:right;
	top:0;
	margin-left:20%;
}
@font-face {
	font-family:"Odachi";
	src:url("fonts/Odachi 400.otf");
}

@font-face {
	font-family:"NoirRegular";
	src:url("fonts/NoirStd-Regular.ttf");
}

@font-face {
	font-family:"NoirBold";
	src:url("fonts/NoirPro-Bold.ttf");
}



.nav h2 {
	font-family:"Odachi";
	color:white;
	margin-left:50px;
}

.nav {
	
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:0px 10px;
	min-height:10vh;
	background-color:#015668;
}

.nav a {
	text-decoration:none;
	color:white;
}
.navigationbar {
	list-style:none;
	display:flex;
	align-items:center;
	justify-content: flex-end;
	flex:1;
}

.navitems a {
	margin-left:10px;
	font-family:NoirRegular;
	font-size:30px;
	text-decoration:none;
	color:white;
	padding: 0px 35px;
}


.navitems a:hover {
	border:1px solid white;
	border-radius:20px;
	
}

.introduction {
	text-align:center;
	color:white;
	display:flex-center;
	padding-top:250px;
}

.txt1 {
	font-size:50px;
	font-family:"NoirRegular";
}

.txt2 {
	font-size:30px;
	font-family:"NoirRegular";
	margin-top:40px;
}

.btn {
	font-family: "NoirRegular";
	margin-top:40px;
	width:auto;
	padding:10px 20px;
	background-color:#015668;
	font-size:20px;
	cursor:pointer;
	color:white;
	border-radius:7px;
	display:inline-block;
	outline:none;
	box-shadow:3px 9px 20px #999999;
}

.btn:hover {
	background-color:#003333;
}

.locationintro {
	background-image:linear-gradient(black, gray);
	background-image: url("tower.png"), url("cloud.png");
	background-blend-mode:overlay;
	position:relative;
	background-size:100px;
	background-repeat:no-repeat;
	padding-top:100px;
	height:630px;
}

.locationtxt1 {
	text-decoration:underline;
	text-decoration-color:#015668;
	padding-left:80px;
	padding-top: 170px;
	color:#FFD369;
	font-size:50px;
	font-family:"NoirRegular";
}

.locationtxt2 {
	padding-left:80px;
	padding-top:20px;
	color:black;
	font-size:30px;
	color:#ffffb3;
	font-family:"NoirRegular";
}

.body-4 {
	background-image:url("contactmountain.png"),linear-gradient(black 0%,white 90%);
    background-size: 100%;
    height: 100vh;
    mix-blend-mode: overlay;
    display: flex;
    flex-direction: column;
}

form {
    margin-top: 10px;
    font-family: NoirRegular;
    text-align: center;
    color: #ffd369;
}

.form-container {
	width: 450px;
    height: 300px;
    text-align: justify;
    background:rgba(18 ,132,149,0.4);   
    padding: 20px;
    margin-left:50px;
    margin-top: 150px;       
    font-size: 16px;
    left: 30%;
    position: absolute;
    border-radius: 7px;
}

.form-container h1 {
	font-family: NoirRegular;
    color:#ffd369;
    text-align: center;
}

.form-text {
	color:#ffd369;
	font-family:NoirRegular;
}


.form-input {
		border-radius:5px;
    margin-top: 5px;
    
    width: 200px;
    height: 30px;
}

.contact-us-footer {
	clear: both;       
    left: 0;
    bottom: 0;
    background-color: #015668;
    width: 100%;
    height: 70px;
    margin-top: 560px;
	
	
}

.contact-us-footer p {
	color:#ffd369;
    font-family: Odachi;
    margin-top: 15px;
    margin-left: 50px;
    font-size: 30px;
    float: left;
}

.contact-us-icon {
	 float: right;
    margin-top: 25px;
    margin-right: 100px;
	cursor:pointer;
}
